front/lib/index.jade
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Psicotalentos - Seleccion de Talento Humano
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body.Layout
	header.LayoutHeader
		div.TopBar
			a(href="#").TopBar-iconMenu 
			div.TopBar-logo 
				div.Logo
					a(href="#").Logo-text
						span.Logo--textLight Psico
						span.Logo--textBold talentos
		div.ContentHeader
			p.ContentHeader-mainText Mejoramos el proceso de seleccion de talento humano
			p.ContentHeader-secondaryText Regístrate y postula en los mejores empleos, con empleos no solo de tu región sino de todo el País

		div.LayoutHeader-button
			div.Button
				a(href="#").Button--green Crear Cuenta
	div.Content
		div.Promotions
			h3.Promotions-mainText ¿Cómo realizamos todo este proceso de seleccionamiento?
			p.Promotions-secondaryText Nuestra tecnología se encarga de mostrate las mejores ofertas segun tu perfil.
			div.Promotions-secondInformation
				div.Promotions-containerImage
					img(src="../images/bk-header.jpg", alt="").Promotions-image
				div.Promotions-listSkills
					ul.Promotions-list
						li.Promotions-listText Contamos con una gran cantidad de empleos de las mejores empresas del País.
						li.Promotions-listText Añadimos todos los procesos de seleccion de talento humano.
						li.Promotions-listText Examenes de conocimientos.
						li.Promotions-listText Entrevistas Virtuales.
						li.Promotions-listText Entrevistas Psicológicas.
						li.Promotions-listText Sistema de notificaciones en tiempo real.	
	div.Content-Partner
		div.Partner
			h3.Partner-mainText Empresas contratando en estos momentos
			p.Partner-secondaryText No te pierdas estas oportunidades
			div.Partner-listCompanys
				div.Partner-Company
					img(src="images/client1.png", alt="")
				div.Partner-Company
					img(src="images/client2.png", alt="")
				div.Partner-Company
					img(src="images/client3.png", alt="")
	
	div.Content-appMobile
		div.AppMobile
			p.AppMobile-mainText Proximamente nuestra aplicacion nativa para Android
			img(src="images/disponible_en_GooglePlay.png", alt="").AppMobile-imageGooglePlay
	footer.Content-footer
		div.Links
			p.Links-mainText Secciones
			ul.Links-list
				li.Links-element
					a.Links-text(href="#") Buscar empleos
				li.Links-element
					a.Links-text(href="#") Empresas
				li.Links-element
					a.Links-text(href="#") Sobre Psicotalentos

		div.Copyright
			p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados

front/public/index.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Psicotalentos - Seleccion de Talento Humano</title>
  <link rel="stylesheet" href="./css/style.css"/>
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body class="Layout">
  <header class="LayoutHeader">
    <div class="TopBar"><a href="#" class="TopBar-iconMenu"> </a>
      <div class="TopBar-logo"> 
        <div class="Logo"><a href="#" class="Logo-text"><span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span></a></div>
      </div>
    </div>
    <div class="ContentHeader">
      <p class="ContentHeader-mainText">Mejoramos el proceso de seleccion de talento humano</p>
      <p class="ContentHeader-secondaryText">Regístrate y postula en los mejores empleos, con empleos no solo de tu región sino de todo el País</p>
    </div>
    <div class="LayoutHeader-button">
      <div class="Button"><a href="#" class="Button--green">Crear Cuenta</a></div>
    </div>
  </header>
  <div class="Content">
    <div class="Promotions">
      <h3 class="Promotions-mainText">¿Cómo realizamos todo este proceso de seleccionamiento?</h3>
      <p class="Promotions-secondaryText">Nuestra tecnología se encarga de mostrate las mejores ofertas segun tu perfil.</p>
      <div class="Promotions-secondInformation">
        <div class="Promotions-containerImage"><img src="../images/bk-header.jpg" alt="" class="Promotions-image"/></div>
        <div class="Promotions-listSkills">
          <ul class="Promotions-list">
            <li class="Promotions-listText">Contamos con una gran cantidad de empleos de las mejores empresas del País.</li>
            <li class="Promotions-listText">Añadimos todos los procesos de seleccion de talento humano.</li>
            <li class="Promotions-listText">Examenes de conocimientos.</li>
            <li class="Promotions-listText">Entrevistas Virtuales.</li>
            <li class="Promotions-listText">Entrevistas Psicológicas.</li>
            <li class="Promotions-listText">Sistema de notificaciones en tiempo real.	</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Content-Partner">
    <div class="Partner">
      <h3 class="Partner-mainText">Empresas contratando en estos momentos</h3>
      <p class="Partner-secondaryText">No te pierdas estas oportunidades</p>
      <div class="Partner-listCompanys">
        <div class="Partner-Company"><img src="images/client1.png" alt=""/></div>
        <div class="Partner-Company"><img src="images/client2.png" alt=""/></div>
        <div class="Partner-Company"><img src="images/client3.png" alt=""/></div>
      </div>
    </div>
  </div>
  <div class="Content-appMobile">
    <div class="AppMobile">
      <p class="AppMobile-mainText">Proximamente nuestra aplicacion nativa para Android</p><img src="images/disponible_en_GooglePlay.png" alt="" class="AppMobile-imageGooglePlay"/>
    </div>
  </div>
  <footer class="Content-footer">
    <div class="Links">
      <p class="Links-mainText">Secciones</p>
      <ul class="Links-list">
        <li class="Links-element"><a href="#" class="Links-text">Buscar empleos</a></li>
        <li class="Links-element"><a href="#" class="Links-text">Empresas</a></li>
        <li class="Links-element"><a href="#" class="Links-text">Sobre Psicotalentos</a></li>
      </ul>
    </div>
    <div class="Copyright">
      <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
    </div>
  </footer>
</body>
