front/public/job.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-L8"/>
  <title>Psicotalentos - Trabajos</title>
  <link rel="stylesheet" href="./css/style.css"/>
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
  <div class="LayoutDashboard">
    <header class="LayoutDashboard-header">
      <div class="topBarDashboard">
        <div class="topBarDashboard-left">
          <div class="topBarDashboard-logo">
            <div class="Logo"><a href="#" class="Logo--textSmall"><span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span></a></div>
          </div>
        </div>
        <div class="topBarDashboard-right">
          <div class="topBarDashboard-search"><a href="#" class="topBarDashboard-iconSearch"></a></div>
          <div class="topBarDashboard-menuAvatar">
            <div class="AvatarProfile">
              <div class="AvatarProfile-avatar"><img src="images/avatar.jpg" alt="" class="AvatarProfile-image"/></div>
            </div>
          </div>
        </div>
      </div>
      <div class="menuDashboard">
        <ul class="menuDashboard-elements">
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Sugerencias</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Empleos</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Postulaciones</a></li>
        </ul>
      </div>
    </header>
    <div class="LayoutDashboard-informationJob">
      <section class="Information">
        <p class="Information-mainText">Información de Perfil</p>
      </section>
      <div class="InformationJob">
        <div class="InformationJob-top">
          <div class="InformationJob-avatar">
            <p class="InformationJob-avatarText">L</p>
          </div>
          <div class="InformationJob-textHeader"><a href="" class="InformationJob-title">Programador</a>
            <p class="InformationJob-company">LimaW SAC</p>
          </div>
        </div>
        <div class="InformationJob-middle">
          <p class="InformationJob-date">Publicado el 24 jun</p>
          <p class="InformationJob-calendar">Indefinido</p>
          <p class="InformationJob-typeContract">Contrato</p>
          <p class="InformationJob-workHours">Completo</p>
        </div>
        <div class="InformationJob-bottom">
          <p class="InformationJob-descriptionText">Descripción</p>
          <div class="InformationJob-description"> 
            <p class="InformationJob-textDescription">Somos una empresa en franco desarrollo y expansion, con amplia experiencia en el desarrollo de soluciones en software de control de asistencia. Nuestro horario de trabajo es de lunes a viernes de 9am a 6pm</p>
          </div>
          <p class="InformationJob-requirements">Requerimientos</p>
          <p class="InformationJob-minimumEducation">Educacion Minima :<span class="InformationJob-textEducation">Técnico</span></p>
          <p class="InformationJob-yearExperience">Años de experiencia : <span class="InformationJob-textExperience">1</span></p>
          <p class="InformationJob-lenguaje">Idioma : <span class="InformationJob-textLenguaje">Español</span></p>
          <p class="InformationJob-travel">Disponibilidad de Viajar : <span class="InformationJob-textTravel">No</span></p>
          <p class="InformationJob-changeResidence">Disponibilidad de Cambio de residencia : <span class="InformationJob-textResidence">No</span></p>
        </div>
      </div>
    </div>
    <div class="LayoutDashboard-apply">
      <div class="Button"><a href="" class="Button--fixedGreen">Aplicar</a></div>
    </div>
    <footer class="LayoutDashboard-footer">
      <div class="Links">
        <p class="Links-mainText">Secciones</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Mi Curriculum</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mis Candidaturas</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mi perfil</a></li>
        </ul>
        <p class="Links-mainText">Empresas</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Contacto</a></li>
        </ul>
        <div class="Copyright">
          <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
  </div>
</body>

front/lib/job.jade
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones
		div.LayoutDashboard-informationJob
			section.Information
				p.Information-mainText Información de Perfil
			div.InformationJob
				div.InformationJob-top
					div.InformationJob-avatar
						p.InformationJob-avatarText L
					div.InformationJob-textHeader
						a.InformationJob-title(href="") Programador
						p.InformationJob-company LimaW SAC
				div.InformationJob-middle
					p.InformationJob-date Publicado el 24 jun
					p.InformationJob-calendar Indefinido
					p.InformationJob-typeContract Contrato
					p.InformationJob-workHours Completo
				div.InformationJob-bottom
					p.InformationJob-descriptionText Descripción
					div.InformationJob-description 
						p.InformationJob-textDescription Somos una empresa en franco desarrollo y expansion, con amplia experiencia en el desarrollo de soluciones en software de control de asistencia. Nuestro horario de trabajo es de lunes a viernes de 9am a 6pm

					p.InformationJob-requirements Requerimientos
					p.InformationJob-minimumEducation Educacion Minima :
						span.InformationJob-textEducation Técnico
					p.InformationJob-yearExperience Años de experiencia : 
						span.InformationJob-textExperience 1
					p.InformationJob-lenguaje Idioma : 
						span.InformationJob-textLenguaje Español
					p.InformationJob-travel Disponibilidad de Viajar : 
						span.InformationJob-textTravel No
					p.InformationJob-changeResidence Disponibilidad de Cambio de residencia : 
						span.InformationJob-textResidence No



		div.LayoutDashboard-apply
			div.Button
				a(href="").Button--fixedGreen Aplicar
		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados
