front/public/profile.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-L8"/>
  <title>Psicotalentos - Trabajos</title>
  <link rel="stylesheet" href="./css/style.css"/>
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
  <div class="LayoutDashboard">
    <header class="LayoutDashboard-header">
      <div class="topBarDashboard">
        <div class="topBarDashboard-left">
          <div class="topBarDashboard-logo">
            <div class="Logo"><a href="#" class="Logo--textSmall"><span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span></a></div>
          </div>
        </div>
        <div class="topBarDashboard-right">
          <div class="topBarDashboard-search"><a href="#" class="topBarDashboard-iconSearch"></a></div>
          <div class="topBarDashboard-menuAvatar">
            <div class="AvatarProfile">
              <div class="AvatarProfile-avatar"><img src="images/avatar.jpg" alt="" class="AvatarProfile-image"/></div>
            </div>
          </div>
        </div>
      </div>
      <div class="menuDashboard">
        <ul class="menuDashboard-elements">
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Sugerencias</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Empleos</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Postulaciones</a></li>
        </ul>
      </div>
    </header>
    <div class="LayoutDashboard-profile">
      <div class="Profile">
        <div class="CardProfile">
          <div class="CardProfile-left">
            <div class="CardProfile-containerImage"><img src="images/avatar.jpg" alt="" class="CardProfile-image"/></div>
          </div>
          <div class="CardProfile-right">
            <h4 class="CardProfile-name">Alexei Mamani Coaquira</h4>
            <p class="CardProfile-skill">Backend & Frontend Developer</p>
            <p class="CardProfile-ubication">Arequipa, Perú</p>
            <p class="CardProfile-email">alexeim763@gmail.com</p>
            <div class="CardProfile-iconEdit"></div>
            <div class="CardProfile-download"><a href="" class="CardProfile-textDownload">Descargar CV</a></div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Información Personal</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Perfil Profesional</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Formación Académica</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Idiomas</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Conocimientos Informaticos</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
        <div class="ItemCV">
          <div class="ItemCV-title">
            <h6 class="ItemCV-titleText">Comptencias y Habilidades</h6>
          </div>
          <div class="ItemCV-container">
            <div class="Button"><a href="" class="Button--add">Añadir información personal</a></div>
            <div class="ItemCV-list">
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
              <section class="ItemCV-element">
                <p class="ItemCV-textItem">Developer -Web</p><a href="" class="ItemCV-actionDelete"></a><a href="" class="ItemCV-actionEdit"></a>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="LayoutDashboard-footer">
      <div class="Links">
        <p class="Links-mainText">Secciones</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Mi Curriculum</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mis Candidaturas</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mi perfil</a></li>
        </ul>
        <p class="Links-mainText">Empresas</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Contacto</a></li>
        </ul>
        <div class="Copyright">
          <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
  </div>
</body>

front/lib/profile.jade
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones

		div.LayoutDashboard-profile
			div.Profile
				div.CardProfile
					div.CardProfile-left
						div.CardProfile-containerImage
							img(src="images/avatar.jpg", alt="").CardProfile-image
					div.CardProfile-right
						h4.CardProfile-name Alexei Mamani Coaquira
						p.CardProfile-skill Backend & Frontend Developer
						p.CardProfile-ubication Arequipa, Perú
						p.CardProfile-email alexeim763@gmail.com
						div.CardProfile-iconEdit
						div.CardProfile-download
							a(href="").CardProfile-textDownload Descargar CV
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Información Personal
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Perfil Profesional
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Formación Académica
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Idiomas
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Conocimientos Informaticos
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
				div.ItemCV
					div.ItemCV-title
						h6.ItemCV-titleText Comptencias y Habilidades
					div.ItemCV-container
						div.Button
							a(href="").Button--add Añadir información personal
						div.ItemCV-list
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit
							section.ItemCV-element
								p.ItemCV-textItem Developer -Web
								a(href="").ItemCV-actionDelete
								a(href="").ItemCV-actionEdit


		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados
