front/lib/search.jade
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-L8")
	title Psicotalentos - Trabajos
	link(rel="stylesheet",href="./css/style.css")
	link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400", rel="stylesheet", type="text/css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	div.LayoutDashboard
		header.LayoutDashboard-header
			div.topBarDashboard
				div.topBarDashboard-left
					div.topBarDashboard-logo
						div.Logo
							a(href="#").Logo--textSmall
								span.Logo--textLight Psico
								span.Logo--textBold talentos
				div.topBarDashboard-right
					div.topBarDashboard-search
						a(href="#").topBarDashboard-iconSearch
					div.topBarDashboard-menuAvatar
						div.AvatarProfile
							div.AvatarProfile-avatar
								img(src="images/avatar.jpg", alt="").AvatarProfile-image
			div.menuDashboard
				ul.menuDashboard-elements
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Sugerencias
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Empleos
					li.menuDashboard-element
						a.menuDashboard-text(href="#") Postulaciones
		div.LayoutDashboard-search
			section.Information
				p.Information-searchText Busco trabajo de...
			div.Search
				form(id="", method="", action="").Search-form
				div.Search-containerInput
					input(type="text", placeholder="").Search-searchInput
					div.Search-iconSearch
				input(type="submit",value="Buscar").Search-button

				
		footer.LayoutDashboard-footer
			div.Links
				p.Links-mainText Secciones
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Mi Curriculum
					li.Links-element
						a.Links-text(href="#") Mis Candidaturas
					li.Links-element
						a.Links-text(href="#") Mi perfil
				p.Links-mainText Empresas
				ul.Links-list
					li.Links-element
						a.Links-text(href="#") Contacto
				div.Copyright
					p.Copyright-text (c) 2015 - Psicotalentos SAC. Todos los derechos reservados

front/public/search.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-L8"/>
  <title>Psicotalentos - Trabajos</title>
  <link rel="stylesheet" href="./css/style.css"/>
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,500italic,300italic,400" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
  <div class="LayoutDashboard">
    <header class="LayoutDashboard-header">
      <div class="topBarDashboard">
        <div class="topBarDashboard-left">
          <div class="topBarDashboard-logo">
            <div class="Logo"><a href="#" class="Logo--textSmall"><span class="Logo--textLight">Psico</span><span class="Logo--textBold">talentos</span></a></div>
          </div>
        </div>
        <div class="topBarDashboard-right">
          <div class="topBarDashboard-search"><a href="#" class="topBarDashboard-iconSearch"></a></div>
          <div class="topBarDashboard-menuAvatar">
            <div class="AvatarProfile">
              <div class="AvatarProfile-avatar"><img src="images/avatar.jpg" alt="" class="AvatarProfile-image"/></div>
            </div>
          </div>
        </div>
      </div>
      <div class="menuDashboard">
        <ul class="menuDashboard-elements">
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Sugerencias</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Empleos</a></li>
          <li class="menuDashboard-element"><a href="#" class="menuDashboard-text">Postulaciones</a></li>
        </ul>
      </div>
    </header>
    <div class="LayoutDashboard-search">
      <section class="Information">
        <p class="Information-searchText">Busco trabajo de...</p>
      </section>
      <div class="Search">
        <form id="" method="" action="" class="Search-form"></form>
        <div class="Search-containerInput">
          <input type="text" placeholder="" class="Search-searchInput"/>
          <div class="Search-iconSearch"></div>
        </div>
        <input type="submit" value="Buscar" class="Search-button"/>
      </div>
    </div>
    <footer class="LayoutDashboard-footer">
      <div class="Links">
        <p class="Links-mainText">Secciones</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Mi Curriculum</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mis Candidaturas</a></li>
          <li class="Links-element"><a href="#" class="Links-text">Mi perfil</a></li>
        </ul>
        <p class="Links-mainText">Empresas</p>
        <ul class="Links-list">
          <li class="Links-element"><a href="#" class="Links-text">Contacto</a></li>
        </ul>
        <div class="Copyright">
          <p class="Copyright-text">(c) 2015 - Psicotalentos SAC. Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
  </div>
</body>
